<!DOCTYPE html>

<!--드론 조종 페이지-->
<script src="socket.io/socket.io.js"></script> 
<script> 
    var socket = io.connect('http://localhost:8000'); 
    socket.emit('client connected', { clientData : '클라이언트 접속', clientType : 'ctw' }); 
    socket.on('news', function (data) { 	
        console.log(data); 	
    }); 	 
</script>
<html>
    <head>
        <title>hi</title>
    </head>
    <body>
        <p>뭐요</p><br>
        <form action="/user/logout" method="get">
            <input type="submit" value="로그아웃">
        </form>
        
    </body>
</html>